# Logs
logs
*.log
npm-//Debug.Log*
yarn-//Debug.Log*
yarn-error.log*
pnpm-//Debug.Log*
lerna-//Debug.Log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Unity 빌드파일
**/Build/